header{ background-color: rgb(12, 111, 136) ;
    max-width:1280 ;
 }
 header img{border-radius: 20px 20px 20px 20px;}
    

    div{display: inline-block;}
 
footer {background-color: rgb(20, 147, 163);
    border-style:solid;
    color: rgb(121, 219, 223);
    font-size: 19px}
